* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

.firstsection {
  width: 100%;
  height: 675px;
  background-image: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  position: relative;
}

.firstsection:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform-origin: top right;
  transform: skewY(-3deg);
}

.topnavbar {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: flex;
  padding-top: 25px;
  gap: 35%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu-items {
  list-style: none;
  display: flex;
  float: left;
  gap: 30px;
}

.navbar-brand {
  display: flex;
  float: left;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.mid-col {
  display: flex;
  flex-direction: column;
  float: left;
}

/* .navbar-brand:hover {
  color: white;
  border: #5a5a5a;
} */
.text {
  color: #ffffff;
  font-size: 62px;
  font-family: Arial, sans-serif monospace;
}

.text1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-family: Arial, sans-serif monospace;
  text-align: center;
  align-items: left;
  display: flex;
  text-align: justify;
  line-height: 1.4em;
  padding-bottom: 1.5em;
}

.button {
  background-color: #00ca4c;
  width: 150px;
  padding: 15px;
  color: #ffffff;
  border-radius: 35px;
}

.signup {
  margin-top: 75px;
}

.midsec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15%;
}

.hero {
  padding-top: 25%;
}

.form-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-radius: 8px;
  height: 400px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.form-box input {
  border: none;
  border-radius: 5px;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 1em;
  padding: 16px 16px;
}
.button-register {
  border-radius: 35px;
  font-size: 20px;
  width: 100%;
  background-color: #1c82ff;
  border: none;
  padding: 16px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 15px 28px -5px rgb(29 130 255 / 45%);
}

.form-box p {
  font-size: 1.6em;
  text-align: center;
}
.secondsection {
  background-color: #f3f4f9;
  height: 650px;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  line-height: 30px;
}
.black {
  color: black;
  font-size: 32px;
}
.grey {
  color: grey;
}
.content {
  text-align: justify;
  grid-template-columns: auto auto auto;
  gap: 30px;
  display: grid;
  padding: 30px 50px;
}
.title h5 {
  font-size: 20px;
}
.title a {
  color: grey;
}
.title i {
  color: #4f9bce;
  font-size: 50px;
  align-items: center;
}
.thirdsection {
  padding: 50px;
  display: flex;
  gap: 40px;
}
.features-items {
  display: grid;
  text-align: justify;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 40px 0px;
  line-height: 30px;
}
.image {
  max-width: 100%;
  height: auto;
}
.grey1 {
  color: grey;
  line-height: 30px;
  padding-top: 30px;
  font-size: 20px;
}
.black1 {
  color: black;
  font-size: 16px;
}
