* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
}
.firstsection {
  width: 100%;
  height: 675px;
  /* transform-origin: top left;
  transform: skewY(-3deg); */
  background-image: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
}
.topnavbar {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: flex;
  padding-top: 25px;
  gap: 35%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu-items {
  list-style: none;
  display: flex;
  float: left;
  gap: 30px;
}

.navbar-brand {
  display: flex;
  float: left;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.mid-col {
  display: flex;
  flex-direction: column;
  float: left;
}

/* .navbar-brand:hover {
  color: white;
  border: #5a5a5a;
} */
.text {
  color: #ffffff;
  font-size: 62px;
  font-family: Arial, sans-serif monospace;
}
.text1 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  font-family: Arial, sans-serif monospace;
  text-align: center;
  align-items: left;
  display: flex;
  text-align: justify;
  line-height: 1.4em;
}
.button {
  background-color: #00ca4c;
  width: 150px;
  padding: 15px;
  color: #ffffff;
  border-radius: 35px;
}
.signup {
  margin: 5px;
  color: rgb(90, 90, 90);
  height: 500px;
  width: 500px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.midsec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15%;
}

.hero {
  padding-top: 25%;
}
